/* usual reset */
body,
html {
  margin: 0;
  padding: 0;
}

/* use alternative box model */
div {
  box-sizing: border-box;
}

body {
  padding: 10px;
}
/* quick hack to make bare bones todo easier to see */
span {
  margin-left: 10px;
  margin-right: 10px;
}
