<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>css-box</title>
    <style>
      .box {
        /* box-sizing: border-box; */
        width: 120px;
        height: 75px;
        margin: 10px;
        padding: 15px;
        border: 5px solid black;
        background: lightgrey;
      }
      /* usual reset */
      body,
      html {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div class="box">Content</div>
    <div class="box">Content</div>
  </body>
</html>
