<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="stylesheet" href="style.css" />
    <title>templates</title>
  </head>
  <body>
    <!-- main panel -->
    <div id="panel">???</div>

    <!-- all templates below -->

    <template id="left-view">
      <div id="left">
        <button id="increment">?</button>
      </div>
    </template>

    <template id="right-view">
      <div id="right"></div>
    </template>

    <template id="number-square">
      <div>?</div>
    </template>

    <script type="module" src="./main.ts"></script>
  </body>
</html>
